name: build uv wheel

on:
  schedule:
    - cron: '0 17 * * *'
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/uv.yaml"
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/uv.yaml"
  workflow_dispatch:
    inputs:
      version:
        required: false
        default: 'latest'

env:
  PACKAGE_NAME: uv
  MODULE_NAME: uv
  PYTHON_VERSION: "3.11"
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10

jobs:
  check:
    name: Check if exists
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.check.outputs.version }}
      build: ${{ steps.check.outputs.build }}
    steps:
      - name: Check if wheels exist
        id: check
        run: |
          pkg=${{ env.PACKAGE_NAME }}

          check_wheel() {

            if curl -Ls "${url}" | grep -q "${pkg}-${version}.*loongarch64"; then
              echo "build=false" >> $GITHUB_OUTPUT
              echo "wheel already exists."
            else
              echo "build=true" >> $GITHUB_OUTPUT
              echo "wheel not found, continue building."
            fi

          }

          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            version="${{ github.event.inputs.version }}"
          else
            version="latest"
          fi

          url="https://lpypi.loongnix.cn/loongson/pypi/+simple/${pkg}/"
          upstream_url="https://pypi.org/pypi/${pkg}/json"

          if [[ "${version}" == "latest" ]]; then
            version="$(curl -s ${upstream_url} | jq -r '.info.version')"
          fi

          echo "version=${version}" >> $GITHUB_OUTPUT

          check_wheel

  linux-loongarch64:
    name: Build ${{ matrix.platform.target }} wheel
    needs: [check]
    runs-on: ubuntu-latest
    if: needs.check.outputs.build == 'true'
    strategy:
      matrix:
        platform:
          - target: loongarch64-unknown-linux-gnu
            arch: loongarch64
            manylinux: "manylinux_2_36"
          - target: loongarch64-unknown-linux-musl
            arch: loongarch64
            manylinux: "musllinux_1_2"

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          repository: astral-sh/uv
          ref: ${{ needs.check.outputs.version }}

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: true
      - name: "Prep README.md"
        run: |
          curl -sL https://github.com/loong64/uv/raw/refs/heads/main/patch_loong64.patch | git apply
          python scripts/transform_readme.py --target pypi
      - name: Sync Python Releases
        run: |
          uv run -- fetch-download-metadata.py
        working-directory: ./crates/uv-python
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build wheels"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          manylinux: ${{ matrix.platform.manylinux }}
          args: --release --locked --out dist --features self-update

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_${{ matrix.platform.manylinux }}_${{ github.sha }}
          path: ./dist/*.whl

  upload:
    needs: [check, linux-loongarch64]
    runs-on: loongarch64-abi2.0
    if: needs.check.outputs.build == 'true' && github.event_name != 'pull_request'

    steps:
      - name: Clean workspace
        run: safe-rm -rf * .*

      - uses: actions/download-artifact@v4
        with:
          pattern: ${{ env.PACKAGE_NAME }}_*
          path: dist
          merge-multiple: true

      - name: Upload wheel
        run: |
          ls dist/${{ env.PACKAGE_NAME }}-*.whl || exit 1
          pip install twine==6.0.1
          twine upload --repository-url https://lpypi.loongnix.cn/loongson/pypi dist/${{ env.PACKAGE_NAME }}-*.whl
        env:
          TWINE_USERNAME: ${{ secrets.INDEX_NAME  }}
          TWINE_PASSWORD: ${{ secrets.INDEX_TOKEN }}
